<div class="d-flex justify-content-center pt-3">
    <div class="card p- col-md-4 mr-3" style="height: 200px;">
        <h3 class="card-header">Add new Location:</h3>
        <div class="card-body">
            <form method="post">
                <div class="form-group row">
                    <label for="lname" class="col-sm-5 col-form-label">Location name:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="lname" name="lname">
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-plus mr-1" aria-hidden="true"></i>Add Locations
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="card col-sm-7 col-md-7 col-lg-2 col-xl-7" style="height: 720px">
        <div class="d-flex">
            <div class="col-md-6 text-left">
                <h3 class="mt-3">List Locations</h3>
            </div>
        </div>
        <div id ="table-wrapper"class="">
            <table class="table table-hover table-bordered table-striped">
                <tr class="thead-light">
                    <th scope="col">Location ID</th>
                    <th scope="col">Location Name</th>
                    <th scope="col">&nbsp;</th>
                </tr>
                <tbody>
                {{#each locations}}
                    <tr>
                        <td>{{lid}}</td>
                        <td class="tm-product-name">{{lname}}</td>
                        <td>
                            <a href="/locations/edit?lid={{lid}}" class="btn btn-primary btn-sm">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </a>
                            <a href="/locations/del?lid={{lid}}" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

