<div class="card mt-3">
 <div class="card-body">
     <div class="row justify-content-center">
     <div class="col-sm-6">
         <img src="../public/image/bg-02.jpg" alt="image"  width="100%" >
     </div>
     <div class="col-sm-4">
         <table class="table">
             <thead>
             <tr>
                 <th scope="col"><h4>Chuyến đi Phú Quốc</h4></th>
             </tr>
             </thead>
             <tbody>
             <tr>
                 <td>Giá Tiền : 10 triệu</td>
             </tr>
             <tr>
                 <td>Số Lượng : Cho 2 người</td>
             </tr>
             <tr>
                 <td>Thời Gian: 3 ngày 2 đêm</td>
             </tr>
             <tr>
                 <td>Địa Điểm : HCM đến Phú Quốc</td>
             </tr>
             </tbody>
         </table>
         <h4>Mô tả</h4>
         <div>
             Đây là 1 chuyến đi rất đẹp
         </div>
         <h4>Rating: <span>4 sao</span></h4>
         <a class="btn btn-outline-success" href="#" role="button"><i class="fa fa-cart-plus"></i> Booking</a>
     </div>
 </div>
 </div>
</div>