<div class="card">
    <h3 class="card-header">
        Tour
    </h3>
<div class="row">
    <div class="col-sm-3 mb-3 ">
        <div class="card h-100">
            <img src="../public/image/bg-02.jpg" alt="image" title="image">
            <div class="card-body">
                <h4 class="card-title">Tour du lịch Châu Âu</h4>
                <h5 class="card-title text-danger">Price : 5000</h5>
                <div class="card-text">Description</div>
            </div>
            <div class="card-footer text-muted text-center">
                <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    Details
                </a>
                <a class="btn btn-sm btn-outline-success" href="#" role="button">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    Booking
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3 ">
        <div class="card h-100">
            <img src="../public/image/bg-02.jpg" alt="image" title="image">
            <div class="card-body">
                <h4 class="card-title">Tour du lịch Châu Âu</h4>
                <h5 class="card-title text-danger">Price : 5000</h5>
                <div class="card-text">Description</div>
            </div>
            <div class="card-footer text-muted text-center">
                <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    Details
                </a>
                <a class="btn btn-sm btn-outline-success" href="#" role="button">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    Booking
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3 ">
        <div class="card h-100">
            <img src="../public/image/bg-02.jpg" alt="image" title="image">
            <div class="card-body">
                <h4 class="card-title">Tour du lịch Châu Âu</h4>
                <h5 class="card-title text-danger">Price : 5000</h5>
                <div class="card-text">Description</div>
            </div>
            <div class="card-footer text-muted text-center">
                <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    Details
                </a>
                <a class="btn btn-sm btn-outline-success" href="#" role="button">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    Booking
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3 ">
        <div class="card h-100">
            <img src="../public/image/bg-02.jpg" alt="image" title="image">
            <div class="card-body">
                <h4 class="card-title">Tour du lịch Châu Âu</h4>
                <h5 class="card-title text-danger">Price : 5000</h5>
                <div class="card-text">Description</div>
            </div>
            <div class="card-footer text-muted text-center">
                <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    Details
                </a>
                <a class="btn btn-sm btn-outline-success" href="#" role="button">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    Booking
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3 ">
        <div class="card h-100">
            <img src="../public/image/bg-02.jpg" alt="image" title="image">
            <div class="card-body">
                <h4 class="card-title">Tour du lịch Châu Âu</h4>
                <h5 class="card-title text-danger">Price : 5000</h5>
                <div class="card-text">Description</div>
            </div>
            <div class="card-footer text-muted text-center">
                <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    Details
                </a>
                <a class="btn btn-sm btn-outline-success" href="#" role="button">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    Booking
                </a>
            </div>
        </div>
    </div>
</div>
</div>