<div class="row">
    <div class="col-sm-4">
        <div class="card mt-3 vh-1000">
            <h4 class="card-header text-center">
                Newest
            </h4>
            <div class="card-body">
                <div class="card" style="width: 26rem;">
                    <img src="./public/image/bg-02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Chuyến Đi Phú Quốc</h5>
                        <div>Giá : 1000000 triệu</div>
                        <div>Thời Gian : 3 ngày 2 đêm</div>
                        <div>Công ty : A</div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                        <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            Favorite
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card" style="width: 26rem;">
                    <img src="./public/image/bg-02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Chuyến Đi Phú Quốc</h5>
                        <div>Giá : 1000000 triệu</div>
                        <div>Thời Gian : 3 ngày 2 đêm</div>
                        <div>Công ty : A</div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                        <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            Favorite
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                    <i class="fa fa-angle-double-right"></i>
                    View more
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mt-3 vh-1000">
            <h4 class="card-header text-center">
                Newest
            </h4>
            <div class="card-body">
                <div class="card" style="width: 26rem;">
                    <img src="./public/image/bg-02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Chuyến Đi Phú Quốc</h5>
                        <div>Giá : 1000000 triệu</div>
                        <div>Thời Gian : 3 ngày 2 đêm</div>
                        <div>Công ty : A</div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                        <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            Favorite
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card" style="width: 26rem;">
                    <img src="./public/image/bg-02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Chuyến Đi Phú Quốc</h5>
                        <div>Giá : 1000000 triệu</div>
                        <div>Thời Gian : 3 ngày 2 đêm</div>
                        <div>Công ty : A</div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                        <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            Favorite
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                    <i class="fa fa-angle-double-right"></i>
                    View more
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mt-3 vh-1000  align-item-center justify-content-center">
            <h4 class="card-header text-center">
                Hotest
            </h4>
            <div class="card-body">
                <div class="card" style="width: 26rem;">
                    <img src="./public/image/bg-02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Chuyến Đi Phú Quốc</h5>
                        <div>Giá : 1000000 triệu</div>
                        <div>Thời Gian : 3 ngày 2 đêm</div>
                        <div>Công ty : A</div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                        <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            Favorite
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card" style="width: 26rem;">
                    <img src="./public/image/bg-02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Chuyến Đi Phú Quốc</h5>
                        <div>Giá : 1000000 triệu</div>
                        <div>Thời Gian : 3 ngày 2 đêm</div>
                        <div>Công ty : A</div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                        <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            Favorite
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                    <i class="fa fa-angle-double-right"></i>
                    View more
                </a>
            </div>
        </div>
    </div>
</div>