<div class="card">
     <h3 class="card-header">
         Tìm kiếm tour du lịch
     </h3>
    <div class="card-body">
        <form class="form-outline">
            <input class="form-control mr-3" type="search" placeholder="Theo Địa Điểm" aria-label="Search">
            <button class="btn btn-primary " type="submit"><i class="fa fa-search" aria-hidden="true"></i>Tìm Kiếm</button>
        </form>
        <form class="form-outline mt-3">
            <input class="form-control mr-3" type="search" placeholder="Theo Giá Tiền" aria-label="Search">
            <button class="btn btn-primary " type="submit"><i class="fa fa-search" aria-hidden="true"></i>Tìm Kiếm</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card mt-3 vh-1000">
            <h4 class="card-header text-center">
                Newest Tour
            </h4>
            <div class="card-body">
                <div class="card" style="width: 26rem;">
                    <img src="./public/image/bg-02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Chuyến Đi Phú Quốc</h5>
                        <div>Giá : 1000000 triệu</div>
                        <div>Thời Gian : 3 ngày 2 đêm</div>
                        <div>Công ty : A</div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                        <a class="btn btn-sm btn-outline-success" href="#" role="button">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Booking
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card" style="width: 26rem;">
                    <img src="./public/image/bg-02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Chuyến Đi Phú Quốc</h5>
                        <div>Giá : 1000000 triệu</div>
                        <div>Thời Gian : 3 ngày 2 đêm</div>
                        <div>Công ty : A</div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                        <a class="btn btn-sm btn-outline-success" href="#" role="button">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Booking
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                    <i class="fa fa-angle-double-right"></i>
                    View more
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mt-3 vh-1000">
            <h4 class="card-header text-center">
                Hotest tour
            </h4>
            <div class="card-body">
                <div class="card" style="width: 26rem;">
                    <img src="./public/image/bg-02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Chuyến Đi Phú Quốc</h5>
                        <div>Giá : 1000000 triệu</div>
                        <div>Thời Gian : 3 ngày 2 đêm</div>
                        <div>Công ty : A</div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                        <a class="btn btn-sm btn-outline-success" href="#" role="button">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Booking
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card" style="width: 26rem;">
                    <img src="./public/image/bg-02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Chuyến Đi Phú Quốc</h5>
                        <div>Giá : 1000000 triệu</div>
                        <div>Thời Gian : 3 ngày 2 đêm</div>
                        <div>Công ty : A</div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                        <a class="btn btn-sm btn-outline-success" href="#" role="button">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Booking
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                    <i class="fa fa-angle-double-right"></i>
                    View more
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mt-3 vh-1000  align-item-center justify-content-center">
            <h4 class="card-header text-center">
                Recently Tour
            </h4>
            <div class="card-body">
                <div class="card" style="width: 26rem;">
                    <img src="./public/image/bg-02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Chuyến Đi Phú Quốc</h5>
                        <div>Giá : 1000000 triệu</div>
                        <div>Thời Gian : 3 ngày 2 đêm</div>
                        <div>Công ty : A</div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                        <a class="btn btn-sm btn-outline-success" href="#" role="button">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Booking
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card" style="width: 26rem;">
                    <img src="./public/image/bg-02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Chuyến Đi Phú Quốc</h5>
                        <div>Giá : 1000000 triệu</div>
                        <div>Thời Gian : 3 ngày 2 đêm</div>
                        <div>Công ty : A</div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                        <a class="btn btn-sm btn-outline-success" href="#" role="button">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Booking
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                    <i class="fa fa-angle-double-right"></i>
                    View more
                </a>
            </div>
        </div>
    </div>
</div>