body{
    margin-top: 0;
}

.background-color-blue {
    background-color: #1C2260;
    color: white;
    width: 250px;
    padding-left: 15px;
    padding-right: 0;
    flex: 0 0 20%;
}

.list-group{
    border-radius: 0px;
}

.list-group-item{
    background-color: #1C2260;
    text-decoration: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 7px #FFC312;
    border-left-style: ridge;
}

.list-group-item:hover {
    background-color: darkred;
    text-decoration: none;
    color: #fccc45 !important;
    font-weight: bold;
}

.list-group-item:hover > a{
    color: #FFC312 !important;
}


.container-custom{
    padding-left: 0;
    margin-right: 0;
    flex: 0 0 80%;
    max-width: 80%;
}

#table-wrapper {
    height: 670px;
    overflow-y: auto;
}