<div class="container">
    <div class="card">
        <h3 class="card-header">Editing a Tour</h3>
        <div class="card-body">
            <form method="post">
                <div class="form-group row">
                    <label for="tourid" class="col-sm-2 col-form-label">Tour ID:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="tourid" name="tourid" value="Tour id" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="agency" class="col-sm-2 col-form-label">Agency ID:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="agencyid" name="agencyid" value="Agency ID" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tourname" class="col-sm-2 col-form-label">Tour name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="tourname" name="tourname" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label">Title:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-2 col-form-label">description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="description" name="description">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="location" class="col-sm-2 col-form-label">Location:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="location" name="location">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="price" class="col-sm-2 col-form-label">Price:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="price" name="price">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="datestart" class="col-sm-2 col-form-label">Date Start:</label>
                    <div class="col-sm-10">
                        <input type="datetime-local" class="form-control" id="datestart" name="datestart">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dateend" class="col-sm-2 col-form-label">Date End:</label>
                    <div class="col-sm-10">
                        <input type="datetime-local" class="form-control" id="dateend" name="dateend">
                    </div>
                </div>
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="exampleFormControlFile1">Image:</label>
                        <input type="file" class="form-control-file col-sm-10" id="exampleFormControlFile1">
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save mr-1" aria-hidden="true"></i>Save Changes
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>